*{
    font-family: "Questrial", serif;
    margin: 0;
}

.arrow {
    border: 1px solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}
.down-arrow{
    position: relative;
    right: 7px;
    top: 2px;
    width: 15px;
    
}
body{
    margin: 0;
}