.notification{
    display: flex;
    padding: 53px;
    background-color: rgb(222, 235, 255);
    color: rgb(9, 30, 66);
    justify-content: center;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.learn-more{
    color: rgb(0, 101, 255);
}

.main-1{
    height: 650px;
    /* border: 1px solid black; */
    background: url("image/white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);

}
.main-1-left{
    display: block;
    width: 500px;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 180px ;
}
.left-1{
    display: flex;
    font-size: 45px;
    font-weight: bold;
    
    line-height: 60px;
}
.left-2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 30px;

}